<%= render "devise/shared/error_messages", resource: resource %>
<div class="row justify-content-center">
  <div class="col-3 m-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signup"}) do |f| %>
      <h2 class="form-signin-heading">Sign up</h2>
      <div class="field">
        <%= f.label :full_name, "Full Name", class: "sr-only" %><br/>
        <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: "Default input", placeholder: "Full name" %>
      </div>
      <div class="field">
        <%= f.label :email, "Email Address", class: "sr-only" %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "Default input", placeholder: "Email Address" %>
      </div>
      <div class="field">
        <%= f.label :password, "Password", class: "sr-only", type:"password", describedby:"passwordHelpBlock" %>
        <small id="passwordHelpBlock" class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
        <%= f.password_field :password, autocomplete: "new-password", class: "Default input", placeholder: "Password" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Password confirmation", class: "sr-only" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "Default input", placeholder: "Password confirmation" %>
      </div>
      <div class="actions"><br/>
        <%= f.submit "Sign up", class: "btn btn-primary btn-sm" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
