<h1>Space selector</h1>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><%= @campaign.title %></h5>
    <h5 class="card-title"><%= @campaign.status %></h5>
    <h6 class="card-description"><%= @campaign.start_date %></h6>
    <h6 class="card-description"><%= @campaign.end_date %></h6>
  </div>
</div>

<%= link_to "Back to campaign", @campaign %>

<h1>Campaign Spaces</h1>

<% @campaign.spaces.each do |space| %>
  <div class="card w-75">
    <%= image_tag space.image.variant(thumbnail: "800x300^", gravity:"center", extent: "800x300") if space.image.attached?  %>
    <div class="card-body">
        <h5 class="card-title"><%= space.title %></h5>
        <h6 class="card-dtest"><%= space.description %></h6>
        <h6 class="card-text"><%= space.address %></h6>
        <h6 class="card-text"><%= space.price %></h6>
        <%= button_to 'Delete', space_selector_path, method: :delete, params: {space_id: space.id, post_code: params[:post_code]} %>
    </div>
  </div>
<% end %>

<h1> Search Spaces </h1>

<div>
  <%= form_with(url: space_selector_path, method: :get, local: true) do %>
    <%= label_tag(:post_code, "Post code:") %>
    <%= text_field_tag(:post_code, @post_code) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<% @spaces.each do |space| %>
<div class="card w-75">
  <%= image_tag space.image.variant(thumbnail: "800x300^", gravity:"center", extent: "800x300") if space.image.attached?  %>
  <div class="card-body">
      <h5 class="card-title"><%= space.title %></h5>
      <h6 class="card-dtest"><%= space.description %></h6>
      <h6 class="card-text"><%= space.address %></h6>
      <h6 class="card-text"><%= space.price %></h6>
      <%= button_to 'Add', space_selector_path, method: :post, params: {space_id: space.id, post_code: params[:post_code]} %> 
  </div>
</div>
<% end %>

 