<%= link_to "Edit", edit_space_path(@space) if current_user.id == @space.user_id %>
<%= link_to 'Back', spaces_path %>

<p>
  <h3>Space</h3>
</p>
<div class="card w-75">
  <div class="card-body">
    <%= image_tag @space.image.variant(thumbnail: "800x300^", gravity:"center", extent: "800x300") if @space.image.attached? %>
    <h5 class="card-title"><%= @space.title %></h5>
    <h6 class="card-text"><%= @space.description %></h6>
    <h6 class="card-text"><%= @space.address %></h6>
    <h6 class="card-text"><%= @space.price %></h6>
  </div>
</div>

<p>
  <h3>Campaigns</h3>
</p>

<div>
  <% @space.campaigns.each do |campaign| %>
    <% if campaign.status == "ready" %>
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%= campaign.title %></h5>
          <h6 class="card-text"><%= campaign.description %></h6>
          <h6 class="card-text"><%= campaign.status %></h6>
          <h6 class="card-text"><%= campaign.start_date %></h6>
        </div>
      </div>
    <% end %>
  <% end %>
</div>