
<% if !@space.is_active %>
  <p class="alert alert-danger">Inactive</span>
<% end %>

<div class="row mb-5">
  <% if @space.image.attached? %>
    <div class="col-8">
      <%= image_tag @space.image.variant(thumbnail: "1200x600^", gravity:"center", extent: "1200x600"), class: "img-fluid" %>
    </div>
  <% end %>
  <div class="col">
    <h1>
      <%= @space.title %>

      <% if current_user.id == @space.user_id %>
        <%= link_to edit_space_path(@space), class: "btn btn-primary" do %>
          <%= fa_icon "pencil"  %> Edit
        <% end %>
      <% end %>
    </h1>
    <p><%= @space.description %></p>
    <p><%= fa_icon "usd" %> <%= @space.price %> per day</p>
    <p><%= fa_icon "map-marker" %> <%= @space.address %>, <%= @space.post_code %></p>
    <p><%= fa_icon "address-card-o" %> <%= @space.contact_info %></p>
    <h5>
      <span class="badge badge-info"><%= @space.size %></span>
      <span class="badge badge-info"><%= @space.space_type %></span>
      <% @space.products.each do |product| %>
        <span class="badge badge-light"><%= product.name %></span>
      <% end %>
    </h5>
  </div>
</div> 

<h2>Campaigns</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Decription</th>
      <th scope="col">Status</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Contact Info</th>
    </tr>
  </thead>
  <tbody>
    <% @space.campaigns.each do |campaign| %>
      <tr>
        <th><%= campaign.title %></th>
        <td><%= campaign.description %></td>
        <td><%= campaign.status %></td>
        <td><%= campaign.start_date %></td>
        <td><%= campaign.end_date %></td>
        <td><%= campaign.contact_info %></td>
      </tr>
    <% end %>
  </tbody>
</table>