<div>
  <h1>List of current Cumpaigns</h1>
  <button type="button" class="btn btn-light"><%= link_to 'Create a new Campaign', new_campaign_path %></button>
</div>
<div>
    <% @user_campaigns.each do |campaign| %>
      <div class="card w-75">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= campaign.title %></h5>
          <h5 class="card-title"><%= campaign.status %></h5>
          <h6 class="card-description"><%= campaign.start_date %></h6>
          <h6 class="card-description"><%= campaign.end_date %></h6>
        </div>
        <div class="card-body">
          <button class="btn btn-link"><%= link_to 'Show', campaign %></button>
          <button class="btn btn-link"><%= link_to 'Edit', edit_campaign_path(campaign) %></button>
          <button class="btn btn-link"><%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      </div>
    <% end %>
</div>

